In [35]:
# !pip install yfinance
import sqlite3

In [1]:
# dependencies
import yfinance as yf
import pandas as pd
from sqlalchemy import create_engine, Column, Integer, String, Date, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from datetime import date

In [31]:
# Creates a connection to our DB. if file doesn't exist, we create it
# echo=True is verbose
engine = create_engine("sqlite:///stocks.sqlite", echo=True)
conn = engine.connect()
session = Session(engine)
Base = declarative_base()

# # Define our pet table
# probably deprecated after i found out about df.to_sql method
# class stock(Base):
#     __tablename__ = 'stock'
#     id = Column(Integer, primary_key=True)
#     name = Column(String)
#     type = Column(String)
#     date = Column(Date)
# # creates table
# Base.metadata.create_all(engine)

In [3]:
# choose tickers here
# tickerStrings = ['AAPL', 'MSFT','TSLA','META','TTCF']

In [8]:
#import csv file with the list of S&P 500 companies
splist = pd.read_csv("sp500_constituents.csv")

splist

    Symbol                 Name                  Sector
0      MMM                   3M             Industrials
1      AOS          A. O. Smith             Industrials
2      ABT  Abbott Laboratories             Health Care
3     ABBV               AbbVie             Health Care
4     ABMD              Abiomed             Health Care
..     ...                  ...                     ...
500    YUM          Yum! Brands  Consumer Discretionary
501   ZBRA   Zebra Technologies  Information Technology
502    ZBH        Zimmer Biomet             Health Care
503   ZION        Zions Bancorp              Financials
504    ZTS               Zoetis             Health Care

[505 rows x 3 columns]

In [9]:
#s&p500 tickers
sp500 = splist.rename(columns={'Symbol':'Ticker'})

sp500

    Ticker                 Name                  Sector
0      MMM                   3M             Industrials
1      AOS          A. O. Smith             Industrials
2      ABT  Abbott Laboratories             Health Care
3     ABBV               AbbVie             Health Care
4     ABMD              Abiomed             Health Care
..     ...                  ...                     ...
500    YUM          Yum! Brands  Consumer Discretionary
501   ZBRA   Zebra Technologies  Information Technology
502    ZBH        Zimmer Biomet             Health Care
503   ZION        Zions Bancorp              Financials
504    ZTS               Zoetis             Health Care

[505 rows x 3 columns]

In [10]:
tickerStrings = sp500['Ticker']

In [11]:
# yfinance code to separate tickers into pretty dataframe
df_list = list()
for ticker in tickerStrings:
    data = yf.download(ticker, group_by="Ticker", period='365d')
    data['Ticker'] = ticker  # add this column because the dataframe doesn't contain a column with the ticker
    
    df_list.append(data)

# combine all dataframes into a single dataframe
tickerDf = pd.concat(df_list)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BRK.B: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- BF.B: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DISCA: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- DISCK: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- INFO: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- KSU: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- PBCT: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- VIAC: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- WLTW: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- XLNX: No data found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [12]:
# reset index to prepare for merge
tickerindex = tickerDf.reset_index()

tickerindex

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker
0,2021-01-25,168.880005,172.490005,168.229996,170.389999,161.930359,3353100.0,MMM
1,2021-01-26,173.779999,176.839996,172.080002,175.949997,167.214310,5148900.0,MMM
2,2021-01-27,177.309998,187.270004,177.160004,186.649994,177.383072,8097000.0,MMM
3,2021-01-28,185.000000,186.580002,182.580002,183.419998,174.313446,4153700.0,MMM
4,2021-01-29,182.289993,182.979996,174.869995,175.660004,166.938721,4217200.0,MMM
...,...,...,...,...,...,...,...,...
180571,2022-06-29,172.000000,175.149994,170.149994,173.919998,173.919998,1658000.0,ZTS
180572,2022-06-30,172.440002,173.550003,169.830002,171.889999,171.889999,2220700.0,ZTS
180573,2022-07-01,172.070007,174.500000,170.500000,174.210007,174.210007,1498400.0,ZTS
180574,2022-07-05,172.279999,174.289993,169.550003,174.250000,174.250000,1853100.0,ZTS
180575,2022-07-06,174.869995,179.880005,174.395004,178.500000,178.500000,1843926.0,ZTS

In [13]:
# merge the sp500 df to get add the ticker name
mergeticker = tickerindex.merge(sp500, how = 'right', on = 'Ticker')

mergeticker

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker,Name,Sector
0,2021-01-25,168.880005,172.490005,168.229996,170.389999,161.930359,3353100.0,MMM,3M,Industrials
1,2021-01-26,173.779999,176.839996,172.080002,175.949997,167.214310,5148900.0,MMM,3M,Industrials
2,2021-01-27,177.309998,187.270004,177.160004,186.649994,177.383072,8097000.0,MMM,3M,Industrials
3,2021-01-28,185.000000,186.580002,182.580002,183.419998,174.313446,4153700.0,MMM,3M,Industrials
4,2021-01-29,182.289993,182.979996,174.869995,175.660004,166.938721,4217200.0,MMM,3M,Industrials
...,...,...,...,...,...,...,...,...,...,...
180581,2022-06-29,172.000000,175.149994,170.149994,173.919998,173.919998,1658000.0,ZTS,Zoetis,Health Care
180582,2022-06-30,172.440002,173.550003,169.830002,171.889999,171.889999,2220700.0,ZTS,Zoetis,Health Care
180583,2022-07-01,172.070007,174.500000,170.500000,174.210007,174.210007,1498400.0,ZTS,Zoetis,Health Care
180584,2022-07-05,172.279999,174.289993,169.550003,174.250000,174.250000,1853100.0,ZTS,Zoetis,Health Care
180585,2022-07-06,174.869995,179.880005,174.395004,178.500000,178.500000,1843926.0,ZTS,Zoetis,Health Care

In [48]:
# dropping columns
closeticker = mergeticker.drop(columns =['High','Low','Open','Adj Close','Sector'])

cleanedticker = closeticker.set_index('Date')

cleanedticker

                 Close     Volume Ticker    Name
Date
2021-01-25  170.389999  3353100.0    MMM      3M
2021-01-26  175.949997  5148900.0    MMM      3M
2021-01-27  186.649994  8097000.0    MMM      3M
2021-01-28  183.419998  4153700.0    MMM      3M
2021-01-29  175.660004  4217200.0    MMM      3M
...                ...        ...    ...     ...
2022-06-29  173.919998  1658000.0    ZTS  Zoetis
2022-06-30  171.889999  2220700.0    ZTS  Zoetis
2022-07-01  174.210007  1498400.0    ZTS  Zoetis
2022-07-05  174.250000  1853100.0    ZTS  Zoetis
2022-07-06  178.500000  1843926.0    ZTS  Zoetis

[180586 rows x 4 columns]

In [49]:
# cleanedticker["__id"] = 1
cleanedticker.insert(0, '__id', range(0, len(cleanedticker)))
# cleanedticker.reset_index()
# cleanedticker["__id"] = cleanedticker.index

In [50]:
cleanedticker

              __id       Close     Volume Ticker    Name
Date
2021-01-25       0  170.389999  3353100.0    MMM      3M
2021-01-26       1  175.949997  5148900.0    MMM      3M
2021-01-27       2  186.649994  8097000.0    MMM      3M
2021-01-28       3  183.419998  4153700.0    MMM      3M
2021-01-29       4  175.660004  4217200.0    MMM      3M
...            ...         ...        ...    ...     ...
2022-06-29  180581  173.919998  1658000.0    ZTS  Zoetis
2022-06-30  180582  171.889999  2220700.0    ZTS  Zoetis
2022-07-01  180583  174.210007  1498400.0    ZTS  Zoetis
2022-07-05  180584  174.250000  1853100.0    ZTS  Zoetis
2022-07-06  180585  178.500000  1843926.0    ZTS  Zoetis

[180586 rows x 5 columns]

In [51]:
with sqlite3.connect('stocks.sqlite') as con:
    cleanedticker.to_sql('stocks', con=con, dtype={'__id': 'INTEGER PRIMARY KEY AUTOINCREMENT'})

In [32]:
# this will push dataframe to sql, creating a table if none exists
# cleanedticker.to_sql('stocks', conn, if_exists='append')

2022-07-06 19:21:55,759 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("stocks")
2022-07-06 19:21:55,759 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-06 19:21:55,760 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("stocks")
2022-07-06 19:21:55,761 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-06 19:21:55,763 INFO sqlalchemy.engine.Engine
CREATE TABLE stocks (
	"Date" DATETIME,
	"Close" FLOAT,
	"Volume" FLOAT,
	"Ticker" TEXT,
	"Name" TEXT
)


2022-07-06 19:21:55,764 INFO sqlalchemy.engine.Engine [no key 0.00066s] ()
2022-07-06 19:21:55,765 INFO sqlalchemy.engine.Engine COMMIT
2022-07-06 19:21:55,766 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_stocks_Date" ON stocks ("Date")
2022-07-06 19:21:55,766 INFO sqlalchemy.engine.Engine [no key 0.00036s] ()
2022-07-06 19:21:55,767 INFO sqlalchemy.engine.Engine COMMIT
2022-07-06 19:21:55,884 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-06 19:21:57,295 INFO sqlalchemy.engine.Engine INSERT INTO stocks ("Date", "Close", "Volume", "Ticker", "Name") VALUES (?, ?, ?, ?, ?)
2022-07-06 19:21:57,296 INFO sqlalchemy.engine.Engine [generated in 1.32948s] (('2021-01-25 00:00:00.000000', 170.38999938964844, 3353100.0, 'MMM', '3M'), ('2021-01-26 00:00:00.000000', 175.9499969482422, 5148900.0, 'MMM', '3M'), ('2021-01-27 00:00:00.000000', 186.64999389648438, 8097000.0, 'MMM', '3M'), ('2021-01-28 00:00:00.000000', 183.4199981689453, 4153700.0, 'MMM', '3M'), ('2021-01-29 00:00:00.000000', 175.66000366210938, 4217200.0, 'MMM', '3M'), ('2021-02-01 00:00:00.000000', 174.6999969482422, 2569700.0, 'MMM', '3M'), ('2021-02-02 00:00:00.000000', 175.02000427246094, 2844400.0, 'MMM', '3M'), ('2021-02-03 00:00:00.000000', 175.47999572753906, 2874200.0, 'MMM', '3M')  ... displaying 10 of 180586 total bound parameter sets ...  ('2022-07-05 00:00:00.000000', 174.25, 1853100.0, 'ZTS', 'Zoetis'), ('2022-07-06 00:00:00.000000', 178.5, 1843926.0, 'ZTS', 'Zoetis'))
2022-07-06 19:21:57,956 INFO sqlalchemy.engine.Engine COMMIT

In [17]:
cleanedticker.head()

                 Close     Volume Ticker Name
Date
2021-01-25  170.389999  3353100.0    MMM   3M
2021-01-26  175.949997  5148900.0    MMM   3M
2021-01-27  186.649994  8097000.0    MMM   3M
2021-01-28  183.419998  4153700.0    MMM   3M
2021-01-29  175.660004  4217200.0    MMM   3M

In [18]:
# importing btc csv file
btc = pd.read_csv("data_crypto/bitcoin_2012-1-1_2022-6-27.csv")
btc

,Date,Open,High,Low,Close,Volume,Market Cap
0,Jun-26-2022,21504.605967,21836.737838,21001.378699,21029.216300,3.601759e+10,4.077261e+11
1,Jun-19-2022,19010.476500,20706.316100,18022.469505,20554.902700,8.274432e+10,3.680858e+11
2,Jun-12-2022,28415.542200,28519.740800,26704.729357,26704.729357,6.030508e+10,5.270696e+11
3,Jun-05-2022,29847.326342,30162.096092,29591.635303,29909.210373,2.808424e+10,5.682769e+11
4,May-29-2022,29031.307367,29530.422915,28855.558900,29445.724100,2.908444e+10,5.552257e+11
...,...,...,...,...,...,...,...
543,Jan-29-2012,5.380900,5.380900,5.380900,5.380900,0.000000e+00,0.000000e+00
544,Jan-22-2012,6.309700,6.309700,6.309700,6.309700,0.000000e+00,0.000000e+00
545,Jan-15-2012,7.001800,7.001800,7.001800,7.001800,0.000000e+00,0.000000e+00
546,Jan-08-2012,7.113600,7.113600,7.113600,7.113600,0.000000e+00,0.000000e+00
547,Jan-01-2012,5.267700,5.267700,5.267700,5.267700,0.000000e+00,0.000000e+00

In [19]:
# add ticker name to corresponding column
btc["Ticker"]='BTC'
# add name column to match with the stock df
btc['Name'] = 'Bitcoin'

btc

,Date,Open,High,Low,Close,Volume,Market Cap,Ticker,Name
0,Jun-26-2022,21504.605967,21836.737838,21001.378699,21029.216300,3.601759e+10,4.077261e+11,BTC,Bitcoin
1,Jun-19-2022,19010.476500,20706.316100,18022.469505,20554.902700,8.274432e+10,3.680858e+11,BTC,Bitcoin
2,Jun-12-2022,28415.542200,28519.740800,26704.729357,26704.729357,6.030508e+10,5.270696e+11,BTC,Bitcoin
3,Jun-05-2022,29847.326342,30162.096092,29591.635303,29909.210373,2.808424e+10,5.682769e+11,BTC,Bitcoin
4,May-29-2022,29031.307367,29530.422915,28855.558900,29445.724100,2.908444e+10,5.552257e+11,BTC,Bitcoin
...,...,...,...,...,...,...,...,...,...
543,Jan-29-2012,5.380900,5.380900,5.380900,5.380900,0.000000e+00,0.000000e+00,BTC,Bitcoin
544,Jan-22-2012,6.309700,6.309700,6.309700,6.309700,0.000000e+00,0.000000e+00,BTC,Bitcoin
545,Jan-15-2012,7.001800,7.001800,7.001800,7.001800,0.000000e+00,0.000000e+00,BTC,Bitcoin
546,Jan-08-2012,7.113600,7.113600,7.113600,7.113600,0.000000e+00,0.000000e+00,BTC,Bitcoin
547,Jan-01-2012,5.267700,5.267700,5.267700,5.267700,0.000000e+00,0.000000e+00,BTC,Bitcoin

In [20]:
# set index to date w/ datetime format
btc = btc.set_index(pd.to_datetime(btc['Date']).dt.date)

btc

,Date,Open,High,Low,Close,Volume,Market Cap,Ticker,Name
Date,,,,,,,,,
2022-06-26,Jun-26-2022,21504.605967,21836.737838,21001.378699,21029.216300,3.601759e+10,4.077261e+11,BTC,Bitcoin
2022-06-19,Jun-19-2022,19010.476500,20706.316100,18022.469505,20554.902700,8.274432e+10,3.680858e+11,BTC,Bitcoin
2022-06-12,Jun-12-2022,28415.542200,28519.740800,26704.729357,26704.729357,6.030508e+10,5.270696e+11,BTC,Bitcoin
2022-06-05,Jun-05-2022,29847.326342,30162.096092,29591.635303,29909.210373,2.808424e+10,5.682769e+11,BTC,Bitcoin
2022-05-29,May-29-2022,29031.307367,29530.422915,28855.558900,29445.724100,2.908444e+10,5.552257e+11,BTC,Bitcoin
...,...,...,...,...,...,...,...,...,...
2012-01-29,Jan-29-2012,5.380900,5.380900,5.380900,5.380900,0.000000e+00,0.000000e+00,BTC,Bitcoin
2012-01-22,Jan-22-2012,6.309700,6.309700,6.309700,6.309700,0.000000e+00,0.000000e+00,BTC,Bitcoin
2012-01-15,Jan-15-2012,7.001800,7.001800,7.001800,7.001800,0.000000e+00,0.000000e+00,BTC,Bitcoin
2012-01-08,Jan-08-2012,7.113600,7.113600,7.113600,7.113600,0.000000e+00,0.000000e+00,BTC,Bitcoin
2012-01-01,Jan-01-2012,5.267700,5.267700,5.267700,5.267700,0.000000e+00,0.000000e+00,BTC,Bitcoin

In [21]:
# dropping columns to match with stocks df
btc_cleaned = btc.drop(columns=['High','Low','Open','Market Cap','Date'])

btc_cleaned.head(10)

                   Close        Volume Ticker     Name
Date
2022-06-26  21029.216300  3.601759e+10    BTC  Bitcoin
2022-06-19  20554.902700  8.274432e+10    BTC  Bitcoin
2022-06-12  26704.729357  6.030508e+10    BTC  Bitcoin
2022-06-05  29909.210373  2.808424e+10    BTC  Bitcoin
2022-05-29  29445.724100  2.908444e+10    BTC  Bitcoin
2022-05-22  30366.042221  3.479284e+10    BTC  Bitcoin
2022-05-15  31333.765617  4.528098e+10    BTC  Bitcoin
2022-05-08  33933.542810  5.993033e+10    BTC  Bitcoin
2022-05-01  38467.094000  4.969523e+10    BTC  Bitcoin
2022-04-24  39479.996970  3.918160e+10    BTC  Bitcoin

In [22]:
# export to sql
btc_cleaned.to_sql('stocks', conn, if_exists='append')

2022-07-06 19:15:41,583 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("stocks")
2022-07-06 19:15:41,584 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-06 19:15:41,586 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-06 19:15:41,593 INFO sqlalchemy.engine.Engine INSERT INTO stocks ("Date", "Close", "Volume", "Ticker", "Name") VALUES (?, ?, ?, ?, ?)
2022-07-06 19:15:41,594 INFO sqlalchemy.engine.Engine [generated in 0.00609s] (('2022-06-26', 21029.2163, 36017590144.0, 'BTC', 'Bitcoin'), ('2022-06-19', 20554.9027, 82744323328.0, 'BTC', 'Bitcoin'), ('2022-06-12', 26704.72935717625, 60305080590.22222, 'BTC', 'Bitcoin'), ('2022-06-05', 29909.210373336216, 28084240917.33333, 'BTC', 'Bitcoin'), ('2022-05-29', 29445.7241, 29084438122.666668, 'BTC', 'Bitcoin'), ('2022-05-22', 30366.04222096173, 34792840362.666664, 'BTC', 'Bitcoin'), ('2022-05-15', 31333.765617069977, 45280980437.333336, 'BTC', 'Bitcoin'), ('2022-05-08', 33933.54281002884, 59930329173.333336, 'BTC', 'Bitcoin')  ... displaying 10 of 548 total bound parameter sets ...  ('2012-01-08', 7.1136, 0.0, 'BTC', 'Bitcoin'), ('2012-01-01', 5.2677, 0.0, 'BTC', 'Bitcoin'))
2022-07-06 19:15:41,600 INFO sqlalchemy.engine.Engine COMMIT

In [23]:
# importing eth csv file
eth = pd.read_csv("data_crypto/ethereum_2015-8-7_2022-6-27.csv")
eth

,Date,Open,High,Low,Close,Volume,Market Cap
0,Jun-25-2022,1230.390778,1259.927600,1187.199300,1252.329273,2.903753e+10,1.482659e+11
1,Jun-18-2022,1093.128500,1102.829700,897.011206,999.830600,3.055486e+10,1.228565e+11
2,Jun-11-2022,1673.366383,1699.855500,1517.089826,1539.500300,3.788093e+10,1.948860e+11
3,Jun-04-2022,1795.281447,1838.338002,1760.395721,1822.509911,2.173644e+10,2.165435e+11
4,May-28-2022,1733.168435,1822.143300,1733.168435,1818.077892,3.209373e+10,2.157647e+11
...,...,...,...,...,...,...,...
355,Sep-05-2015,1.274410,1.342300,1.271190,1.334720,4.108871e+05,9.509626e+07
356,Aug-29-2015,1.191380,1.207210,1.149490,1.183260,5.133052e+05,8.611188e+07
357,Aug-22-2015,1.395290,1.476410,1.352680,1.392850,1.637653e+06,1.030862e+08
358,Aug-15-2015,1.827870,1.877240,1.570980,1.692440,3.879627e+06,1.028299e+08
359,Aug-08-2015,2.772120,2.798810,0.714725,0.714876,3.141436e+05,1.039569e+08

In [24]:
# add ticker name to corresponding column
eth["Ticker"]='ETH'
# add name column to match with the stock df
eth['Name'] = 'ETHEREUM'

# set index to date w/ datetime format
eth = eth.set_index(pd.to_datetime(eth['Date']).dt.date)

# dropping columns to match with stocks df
eth_cleaned = eth.drop(columns=['High','Low','Open','Market Cap','Date'])

eth_cleaned.head(10)

                  Close        Volume Ticker      Name
Date
2022-06-25  1252.329273  2.903753e+10    ETH  ETHEREUM
2022-06-18   999.830600  3.055486e+10    ETH  ETHEREUM
2022-06-11  1539.500300  3.788093e+10    ETH  ETHEREUM
2022-06-04  1822.509911  2.173644e+10    ETH  ETHEREUM
2022-05-28  1818.077892  3.209373e+10    ETH  ETHEREUM
2022-05-21  2000.331522  2.281244e+10    ETH  ETHEREUM
2022-05-14  2062.200800  2.724527e+10    ETH  ETHEREUM
2022-05-07  2644.925800  2.377502e+10    ETH  ETHEREUM
2022-04-30  2737.425486  2.493375e+10    ETH  ETHEREUM
2022-04-23  2942.909900  2.036705e+10    ETH  ETHEREUM

In [25]:
# export to sql
eth_cleaned.to_sql('cleaned_stocks', conn, if_exists='append')

2022-07-06 19:15:55,023 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("cleaned_stocks")
2022-07-06 19:15:55,029 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-06 19:15:55,035 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-06 19:15:55,041 INFO sqlalchemy.engine.Engine INSERT INTO cleaned_stocks ("Date", "Close", "Volume", "Ticker", "Name") VALUES (?, ?, ?, ?, ?)
2022-07-06 19:15:55,041 INFO sqlalchemy.engine.Engine [generated in 0.00434s] (('2022-06-25', 1252.329273236871, 29037533184.0, 'ETH', 'ETHEREUM'), ('2022-06-18', 999.8306, 30554862520.88889, 'ETH', 'ETHEREUM'), ('2022-06-11', 1539.5003, 37880931086.22222, 'ETH', 'ETHEREUM'), ('2022-06-04', 1822.5099114394225, 21736441543.11111, 'ETH', 'ETHEREUM'), ('2022-05-28', 1818.077891551636, 32093727921.77778, 'ETH', 'ETHEREUM'), ('2022-05-21', 2000.3315218439311, 22812438293.33333, 'ETH', 'ETHEREUM'), ('2022-05-14', 2062.2008, 27245265528.88889, 'ETH', 'ETHEREUM'), ('2022-05-07', 2644.9258, 23775022823.11111, 'ETH', 'ETHEREUM')  ... displaying 10 of 360 total bound parameter sets ...  ('2015-08-15', 1.69244, 3879626.9791666665, 'ETH', 'ETHEREUM'), ('2015-08-08', 0.714876, 314143.6145833333, 'ETH', 'ETHEREUM'))
2022-07-06 19:15:55,050 INFO sqlalchemy.engine.Engine COMMIT

In [26]:
# importing doge csv file
doge = pd.read_csv("data_crypto/dogecoin_2013-12-15_2022-6-27.csv")
doge

,Date,Open,High,Low,Close,Volume,Market Cap
0,Jun-20-2022,0.060406,0.061122,0.057672,0.060264,7.550830e+08,7.859514e+09
1,Jun-13-2022,0.063667,0.065561,0.053057,0.053819,9.944186e+08,7.525376e+09
2,Jun-06-2022,0.081184,0.084576,0.081048,0.082548,4.064799e+08,1.099348e+10
3,May-30-2022,0.082674,0.088269,0.082248,0.087776,5.004704e+08,1.129336e+10
4,May-23-2022,0.085958,0.088261,0.082305,0.083256,6.380635e+08,1.143339e+10
...,...,...,...,...,...,...,...
440,Jan-13-2014,0.000344,0.000344,0.000260,0.000278,3.186218e+05,8.218755e+06
441,Jan-06-2014,0.000271,0.000290,0.000226,0.000255,2.645470e+05,5.626800e+06
442,Dec-30-2013,0.000452,0.000459,0.000416,0.000416,3.341301e+05,7.264195e+06
443,Dec-23-2013,0.000313,0.000460,0.000294,0.000451,0.000000e+00,4.299628e+06
444,Dec-16-2013,0.000299,0.000866,0.000150,0.000200,0.000000e+00,2.110335e+06

In [27]:
# add ticker name to corresponding column
doge["Ticker"]='DOGE'
# add name column to match with the stock df
doge['Name'] = 'DOGECOIN'

# set index to date w/ datetime format
doge = doge.set_index(pd.to_datetime(doge['Date']).dt.date)

# dropping columns to match with stocks df
doge_cleaned = doge.drop(columns=['High','Low','Open','Market Cap','Date'])

doge_cleaned.head(10)

               Close        Volume Ticker      Name
Date
2022-06-20  0.060264  7.550830e+08   DOGE  DOGECOIN
2022-06-13  0.053819  9.944186e+08   DOGE  DOGECOIN
2022-06-06  0.082548  4.064799e+08   DOGE  DOGECOIN
2022-05-30  0.087776  5.004704e+08   DOGE  DOGECOIN
2022-05-23  0.083256  6.380635e+08   DOGE  DOGECOIN
2022-05-16  0.087843  6.106289e+08   DOGE  DOGECOIN
2022-05-09  0.105442  9.542709e+08   DOGE  DOGECOIN
2022-05-02  0.130870  9.933483e+08   DOGE  DOGECOIN
2022-04-25  0.157297  2.454555e+09   DOGE  DOGECOIN
2022-04-18  0.140212  1.197706e+09   DOGE  DOGECOIN

In [28]:
# export to sql
doge_cleaned.to_sql('cleaned_stocks', conn, if_exists='append')

2022-07-06 19:15:57,276 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("cleaned_stocks")
2022-07-06 19:15:57,280 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-06 19:15:57,282 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-06 19:15:57,289 INFO sqlalchemy.engine.Engine INSERT INTO cleaned_stocks ("Date", "Close", "Volume", "Ticker", "Name") VALUES (?, ?, ?, ?, ?)
2022-07-06 19:15:57,290 INFO sqlalchemy.engine.Engine [generated in 0.00530s] (('2022-06-20', 0.0602643132447001, 755082961.7777778, 'DOGE', 'DOGECOIN'), ('2022-06-13', 0.0538192587101546, 994418574.993007, 'DOGE', 'DOGECOIN'), ('2022-06-06', 0.0825484498477665, 406479884.2222222, 'DOGE', 'DOGECOIN'), ('2022-05-30', 0.0877757555045677, 500470420.8111888, 'DOGE', 'DOGECOIN'), ('2022-05-23', 0.0832564661268717, 638063473.28223, 'DOGE', 'DOGECOIN'), ('2022-05-16', 0.0878427139379524, 610628899.7777778, 'DOGE', 'DOGECOIN'), ('2022-05-09', 0.1054419318914109, 954270899.605634, 'DOGE', 'DOGECOIN'), ('2022-05-02', 0.1308696038255088, 993348257.1119692, 'DOGE', 'DOGECOIN')  ... displaying 10 of 445 total bound parameter sets ...  ('2013-12-23', 0.000451185, 0.0, 'DOGE', 'DOGECOIN'), ('2013-12-16', 0.000200187, 0.0, 'DOGE', 'DOGECOIN'))
2022-07-06 19:15:57,295 INFO sqlalchemy.engine.Engine COMMIT